Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
 >b()
 >b()
 >b()
 >a
?<
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

The final value evaluated will be 6. The value of a starts at 0, after that function b() initiates the global a declared outside the scope of the function. Function b() then calls function c and passes the global a as the parameter. Function c then adds 2 to a and returns it. Since the value of a starts at 0 and increases by 2 each time function b() is called. The final output of a should be 6, since function b() is called 3 times.

Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
fileLength('midterm.py')
284
fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:

In [1]:
def fileLength(fileName):
    try:
        file = open(fileName)
        contents = file.read()
        file.close()
        print(len(contents))
        
    except FileNotFoundError:
        print('Sorry! we could not find the file you provided')



fileLength('currencies.txt')

477

Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']>

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [2]:
class Marsupial:
    
    def __init__(self):
        self.q = [] #Initializing the class as an empty List
        
    def put_in_pouch(self, item):
        self.q.append(item) #Appending items to the list
        
    def pouch_contents(self):
        return self.q #Returning the contents of the list

In [3]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [4]:
class Kangaroo(Marsupial):
    
    def __init__(self, xcoord, ycoord):
        Marsupial.__init__(self)
        self.xcoord = xcoord
        self.ycoord = ycoord
        
    def jump(self, dx, dy):
        self.xcoord += dx
        self.ycoord += dy   
    
    def __str__(self):
        return ('I am a Kangaroo located at coordinates ({0},{1})'.format(self.xcoord,self.ycoord))

In [5]:
k = Kangaroo(0,0)

In [6]:
print(k)

I am a Kangaroo located at coordinates (0,0)

In [7]:
k.put_in_pouch('doll')

In [8]:
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')

In [9]:
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [10]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

In [11]:
print(k)

I am a Kangaroo located at coordinates (3,0)

Question 4
Implement a new GUI class App that combines user-defined tkinter widget classes
Calculator and Mortgage displayed below: (This question can be done using a
.py file)

In [12]:
from tkinter import Tk, Label, Button, GROOVE, SUNKEN,RAISED, Text, LEFT, RIGHT, Frame

class Calculator(Frame): #Using a grid to create the basic calculator gui
    def __init__(self, parent = None):
        Frame.__init__(self,parent)        
        self.labels = [['MC', 'M+', 'M-', 'MR'],
                         ['C', '\u221a', 'x\u00b2', '+'],
                         ['7','8','9','-'],
                         ['4','5','6','*'],
                         ['1','2','3','/'],
                         ['0','.','+-','=']]
        
        self.Text = Text(self, state = 'disabled', width = 45, height = 2, bg = 'gray', relief = GROOVE)
        self.Text.grid(row = 0, column=0,columnspan = 5,  pady = 10)
        for r in range(6):
            for c in range(4):
                self.label = Label(self,
                            relief = GROOVE,
                            padx = 15,
                            text = self.labels[r][c],
                            width = 8,
                            height = 2,
                            bg = "white")
                self.label.grid(row=r+1, column=c+1)
            
            

            
class Mortgage(Frame):
    def __init__(self, parent = None):
        Frame.__init__(self,parent)
        
        self.LoanAmount = Label(self, text ="Loan Amount: ")
        self.LoanAmount.grid(row = 1, column = 0)
        
        self.LoanAmountTextBox = Text(self, width= 20, height = 1, padx= 10)
        self.LoanAmountTextBox.grid(row = 1, column = 1)
        
        self.InterestRate = Label(self, text ="Interest Rate: ")
        self.InterestRate.grid(row = 2, column = 0)
        
        self.InterestRateTextBox = Text(self, width= 20, height = 1, padx= 10)
        self.InterestRateTextBox.grid(row = 2, column = 1)
        
        self.TestVal = Label(self, text ="Test Rate: ")
        self.TestVal.grid(row = 3, column = 0)
        
        self.TestValTextBox = Text(self, width= 20, height = 1, padx= 10)
        self.TestValTextBox.grid(row = 3, column = 1)
        
        self.ButtonCompMort = Button(self, text='Compute Mortgage', width = 20, height = 1, relief = RAISED, command = self.dummyProg)
        self.ButtonCompMort.grid(row =4, column = 0)
        
        self.ButtonCompMortTextBox = Text(self, width= 20, height = 1, padx= 10)
        self.ButtonCompMortTextBox.grid(row = 4, column = 1)
        
        
    def dummyProg(self):
        pass


class App(Frame):
    def __init__(self, master):
        Frame.__init__(self,master)
        calc = Calculator(self)
        calc.pack(side = RIGHT, padx = 10, pady = 20)        
        mort = Mortgage(self)
        mort.pack(side = LEFT)
        
    

root = Tk()
app = App(root)
app.pack()
root.mainloop()

Question 5
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑d


Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [13]:
def collatz(x):
    if int(x) > 1:
        print (round(x)) #Negates the Decimal value while printing
        if x % 2 == 0:
            x /= 2
            collatz(x)
        else:
            x = x * 3 + 1
            collatz(x)
    else:
        print (1)
collatz(20)

20
10
5
16
8
4
2
1

Question 6
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [14]:
binStore = []
def binary(num):    
    try:  
        if num < 0:
            raise ValueError(num)
        elif int(num) == 0:            
            return str(num)
        
        elif int(num) > 1:
            remainder = int(num % 2) 
            binStore.insert(0,remainder)
            num = int(num / 2)
            binary(num)
            
        else:
            binStore.insert(0,1)
        
        return ''.join([str(x) for x in binStore])
    
    except ValueError:
        print("Try Using non-negative Numbers only please!")

        
binary(15)

'1111'

Question 7
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class shouldprint the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [15]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    
    h1checkval = False
    h2checkval = False
    h3checkval = False
    
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.h1checkval = True
        if tag == 'h2':
            self.h2checkval = True
        if tag == 'h3':
            self.h3checkval = True
            
            
        
    def handle_data(self, data):
        if (self.h1checkval):
            print("\t" + data)
            self.h1checkval = False
        
        if (self.h2checkval):
            print("\t" * 2 + data)
            self.h2checkval = False
            
        if (self.h3checkval):
            print("\t" *3 + data)
            self.h3checkval = False
            
        
            
        
                
infile = open('headers.html')
content = infile.read()
infile.close()

headingParser = HeadingParser()
headingParser.feed(content)

	This is a smol Header
		 This is a big header
			 This is a bigger header

Question 9
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [16]:
%load_ext sql
%sql sqlite://
%sql CREATE TABLE RainData(CITY VARCHAR(20),COUNTRY VARCHAR(20),SEASON VARCHAR(20),TEMPERATURE DOUBLE, RAINFALL DOUBLE);
%sql INSERT INTO RainData VALUES ('Mumbai', 'India', 'Winter', 24.8,5.9);
%sql INSERT INTO RainData VALUES ('Mumbai', 'India', 'Spring', 28.4,16.2);
%sql INSERT INTO RainData VALUES ('Mumbai', 'India', 'Summer', 27.9,1549.4);
%sql INSERT INTO RainData VALUES ('Mumbai', 'India', 'Fall', 27.9,346.0);
%sql INSERT INTO RainData VALUES ('London', 'United Kingdom', 'Winter', 4.2,207.7);
%sql INSERT INTO RainData VALUES ('London', 'United Kingdom', 'Spring', 8.3,169.6);
%sql INSERT INTO RainData VALUES ('London', 'United Kingdom', 'Summer', 15.7,157.0);
%sql INSERT INTO RainData VALUES ('London', 'United Kingdom', 'Fall', 10.4,218.5);
%sql INSERT INTO RainData VALUES ('Cairo', 'Egypt', 'Winter', 13.6,16.5);
%sql INSERT INTO RainData VALUES ('Cairo', 'Egypt', 'Spring', 20.7,6.5);
%sql INSERT INTO RainData VALUES ('Cairo', 'Egypt', 'Summer', 27.7,0.1);
%sql INSERT INTO RainData VALUES ('Cairo', 'Egypt', 'Fall', 22.2,4.5);

 * sqlite://
Done.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.

[]

In [17]:
# a) All the temperture Data.

%sql SELECT Temperature FROM RainData;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.9,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [18]:
# b)  All the citiesm but without repition

%sql SELECT DISTINCT(City) FROM RainData;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [19]:
# c) All the records for India.

%sql SELECT * FROM RainData WHERE Country = 'India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.9, 346.0)]

In [20]:
#d) All the Fall Records

%sql SELECT * FROM RainData where SEASON = 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.9, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [21]:
# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [22]:
%sql SELECT CITY, COUNTRY, SEASON from RainData WHERE (RAINFALL > 200 and RAINFALL < 400);

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [23]:
''' f) The city and country for which the average Fall temperature 
is above 20 degrees, in increasing temperature order '''

' f) The city and country for which the average Fall temperature \nis above 20 degrees, in increasing temperature order '

In [24]:
%sql SELECT CITY, COUNTRY FROM RainData WHERE (SEASON = 'Fall' AND TEMPERATURE > 20) ORDER BY TEMPERATURE ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [25]:
#g) The total annual rainfall for Cairo.

In [26]:
%sql SELECT SUM(RAINFALL) AS 'Total Rainfall in Cairo' from RainData where City = 'Cairo';

 * sqlite://
Done.

[(27.6,)]

In [27]:
#h)The total rainfall for each season

In [28]:
%sql SELECT DISTINCT(SEASON) as 'Seasons',SUM(RAINFALL) as 'Total Rainfall'  from RainData GROUP BY SEASON;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

Question 10
. Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:

In [29]:
 words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']

In [30]:
listA = [x.upper() for x in words]
listA

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']

In [31]:
listB = [x.lower() for x in words]
listB

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [32]:
listC = [len(x) for x in words]
listC

[3, 5, 5, 3, 5, 4, 3, 4, 3]

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)

In [33]:
listD = [[x.upper(), x.lower(), len(x)] for x in words]
listD

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [34]:
listE = [x for x in words if len(x) >= 4]
listE

['quick', 'brown', 'jumps', 'over', 'lazy']